

  <form action="/spaces" method="post">
    Name:<br>
    <input type="text" name="name">
    <br>
    Description:<br>
    <input type="text" name="description">
    <br><br>
    Price Per Night:<br>
    <input type="number" name="price_per_night">
    <br>
    Available From:<br>
    <input type="date" name="available_from">
    <br>
    Available To:<br>
    <input type="date" name="available_to">
    <br>

    <input type="submit" value="List my Space">
  </form>
