



<form action='/spaces/search' method='post' >
  <label for='start_date'>
    Start date: <input name='start_date' type='date' >
  </label>
  <label for='end_date'>
    End date: <input name='end_date' type'date'>
  </label>
  <input type="submit" value="Show Spaces">
</form>
