<!DOCTYPE html>
<html>
  
<head>
  <title>MakersBnB</title>
</head>

<body>
  <% if current_user %>
    Welcome to MakersBnB, <%= current_user.username %>
  <% end %>
 
  <% if flash[:errors] && !flash[:errors].empty? %>
	<ul id='errors'>
      <% flash[:errors].each do |error| %>
    <li><%= error %></li>
      <% end %>
  	</ul>
  <% end %>
    
  <%= yield %>  
</body>

</html>